#banner {
  height: 375px;
  margin: 0px auto;
  background-image: -o-linear-gradient(135deg, black 0%, rgb(15 80 136) 100%);
}
#banner img {
  width: 100%;
  opacity: 0.5;
  height: 650px;
}
#banner h1 {
  font-family: fantasy;
  font-size: 50px;
  width: 50%;
  width: 80%;
  position: absolute;
  top: 300px;
  text-align: center;
  right: 15%;
  color: tomato;
}
#banner h2 {
  font-family: fantasy;
  font-size: 40px;
  margin: auto;
  width: 75%;
  position: absolute;
  top: 370px;
  text-align: center;
  right: 15%;
  color: crimson;
}
