<div id="form">
  <div>
    <mat-form-field appearance="outline">
      <label for="nome">Nome:</label>
      <input id="nome" name="nome" ngModel type="text" matInput [(ngModel)]="logon.nome"  />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <label for="email">E-mail:</label>
      <input id="email" name="email" ngModel type="email" matInput [(ngModel)]="logon.email" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <label for="senha">Senha:</label>
      <input id="senha" name="senha" ngModel type="password" matInput [(ngModel)]="logon.senha"  />
    </mat-form-field>
  </div>
  <button mat-raised-button color="warn" type="submit" (click)="createLogon" >Salvar</button>
</div>
