<div id="form">
<mat-form-field appearance="outline">
<div>
  <label for="nome">Nome:</label>
  <input id="nome" name="nome" ngModel type="text">
</div>
</mat-form-field>
<mat-form-field appearance="outline">
<div>
  <label for="email">E-mail:</label>
  <input id="email" name="email" ngModel type="email">
</div>
</mat-form-field>
<mat-form-field appearance="outline">
<div>
  <label for="senha">Senha:</label>
  <input id="senha" name="senha" ngModel type="password">
</div>
</mat-form-field>
<button  mat-raised-button color="warn" type="submit">Salvar</button>
</div>


